<html>
  <body>
    <title>Pelicula favorita</title>
   <h1>Mi pelicula Fvorita</h1>
   <h2>Inmensamente</h2>
   <h3>Historia</h3>
   <ul>La pelicula se trata de la emociones que maneja totalmente a Riley una niña de 10 años.
    Todo cambia al momento de volverse adolescente y cambiarse de ciudad.
   </ul>
   <h2> Motivos por lo que me gusta </h2>
   <ul> Me gusta por que se trata de la emocionesme maneja cada ser y como cambia al momento de crecer</ul>
  <h3>Personajes</h3>
  <ul>Alegria, tristesa, Enojo</ul>
  <h2>Otras peliculas similares</h2>
       <h3>los simpsom</h3>
       <ul>Por que cada pesonaje muestra conducats y personalidades diferentes</ul>
   <h3> Historia </h3>  
   <ul>Se trata de una familia y cada mienbro de la familia tiene su propia personalidades y gustos</ul> 
   
  </body>
</html>

<button>Inmensamente</button>s

